@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../../public/Fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
font-family: 'Montserrat-Ligth';
src: url('../../../public/Fonts/Montserrat-Light.ttf') format('truetype');
font-weight: lighter;
font-style: normal;
}