.button{
  position:relative;
  display:inline-block;
  margin-top: .5em;
}

.button button{
  color:#666435;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size: 20px;
  text-align: center;
  text-decoration:none;
  background-color: #A7B3E8;
  display:block;
  position:relative;
  padding:8px 10px;
  border: none;
  
  -webkit-tap-highlight-color: #A7B3E8;
  text-shadow: 0px 1px 0px #A7B3E8;
  filter: dropshadow(color=#A7B3E8, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #A7B3E8, 0 10px 0 #A7B3E8;
  -moz-box-shadow:inset 0 1px 0 #A7B3E8, 0 10px 0 #A7B3E8;
  box-shadow:inset 0 1px 0 #A7B3E8, 0 10px 0 #A7B3E8;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button button:active{
  top:10px;
  background-color:#A7B3E8;
  
  -webkit-box-shadow:inset 0 1px 0 #A7B3E8, inset 0 -3px 0 #A7B3E8;
  -moz-box-shadow:inset 0 1px 0 #A7B3E8, inset 0 -3pxpx 0 #A7B3E8;
  box-shadow:inset 0 1px 0 #A7B3E8, inset 0 -3px 0 #A7B3E8;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#A7B3E8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}